# MacOS metadata
**/.DS_Store

# PyCharm project files
.idea

# Pycache
__pycache__

# Test and coverage artifacts
.coverage
coverage/
coverage.xml
.ruff_cache

# Config files (might include sensitive information or depend on the deployment)
config.ini
config.docker.ini
config.local.ini
config-prod.ini
config-test.ini
.env
graphes-config.yaml

# Certificates
*.crt

# Data files
data

# Python package egg folder
*egg-info

# Lock files
uv.lock

# Python virtual environment
venv

# Jupyter-lab files
**/.ipynb_checkpoints
