# MacOS metadata
**/.DS_Store

# PyCharm project files
.idea

# Pycache
__pycache__

# Config files (might include sensitive information or depend on the deployment)
config.ini
config-prod.ini
config-test.ini

# Data files
data

# Python package egg folder
*egg-info

# Python virtual environment
venv

# Jupyter-lab files
**/.ipynb_checkpoints
